table, th, td{
    border: 1px solid black;
    }


#raceInfoTable{
    position: static;
    float: left;
}

#raceStrategydiv{
    position: static;
    float: left;
}

#pitStopStrategyDiv{
    position: static;
    float: left;
}
