table, th, td{
    border: 1px solid black;
    }


#raceInfoTable{
    position: static;
    float: left;
}

#raceStrategyTable{
    position: static;
    float: left;
}

#pitStopStrategyTable{
    position: static;
    float: left;
}
